<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114176602772-tt91dokeup2j552m6igm2o78r1htrcl8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114176602772-tt91dokeup2j552m6igm2o78r1htrcl8</string>
	<key>API_KEY</key>
	<string>AIzaSyAVJnBVTkIOGeRisz8LIXBzNdIM-YhP0dc</string>
	<key>GCM_SENDER_ID</key>
	<string>114176602772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stanleytraub.Lolly-Coding-Challenge</string>
	<key>PROJECT_ID</key>
	<string>lolly-coding-challenge</string>
	<key>STORAGE_BUCKET</key>
	<string>lolly-coding-challenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114176602772:ios:2c265307e6ef6529a0ba81</string>
</dict>
</plist>